.font-principal {
  font-family: 'Barlow', sans-serif;
}

body {
  height: 4000px;
  --bege: #E6E0D6;
  --marrom-escuro: #816D4F;
  --marrom-claro: #B29463;
}

input[type=checkbox],
input[type="checkbox"]:focus {
  border: 2px solid var(--marrom-claro);
  box-shadow: none;
  outline: none;
}

input[type=checkbox]:checked {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}


.banner-1 {
  background-image: url("/assets/banner-1.png");
}

.banners {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /*efeito de paralax*/
}

.banners-titulo {
  --bs-bg-opacity: .2;
}

.banner-2 {
  background-image: url("/assets/banner-2.png");
}

.banner-3 {
  background-image: url("/assets/banner-3.png");
}

.btn-detalhe {
  background-color: var(--marrom-claro);
}
.btn-detalhe:hover {
  background-color: var(--marrom-escuro);
  color: white;
}

.border-card {
  border: solid 1px #B29463;
  border-top: none;
}

.input-range::-webkit-slider-thumb {
  background-color: var(--marrom-claro);
}
